@font-face {
    font-family: 'MyriadProCondBold';
    src: url(fonts/MyriadProCondBold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'MyriadProCondRegular';
    src: url(fonts/MyriadProCondRegular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Sans-serif', 'Microsoft Yahei', Verdana,
        'BBAlpha Sans', 'S60 Sans', Arial;
    font-size: 88%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background: black;
    overflow: hidden;
}

body {
    
}

a {
    color: blue;
}

input {
    outline: none;
}

img {
    border: none;
}

body>img#background {
    position: absolute;
    width: 100%;
    height: 100%;
}

#projectLogo
{
    display: none;
    position: absolute;
    z-index: 9999999;
    right: 30px;
    top: 30px;
    width: 382px;
    height: 166px;
    background: url(images/project-logo.png);
    zoom: 0.5;
    -webkit-transform-origin: right top;
}







#overlay
{
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.Scene
{
    overflow: hidden;
    position: absolute;
}

.Scene.root
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Scene.popped
{
    z-index: 9999999999;
    background: black;
    right: auto;
    bottom: auto;
}
