.DistributionCompositeView
{

}

.DistributionCompositeView #viewSwitcher
{
    cursor: pointer;
    opacity: 0.4;
    position: absolute;
    z-index: 999999;
    right: 15px;
    top: 15px;
    width: 80px;
    height: 45px;
    background: rgba(255, 255, 255, 0.1) no-repeat center center;
    border-radius: 5px;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: right top;
    -webkit-transition: opacity 0.25s ease-in-out;
}

.DistributionCompositeView #viewSwitcher:hover
{
    opacity: 1;
}

.DistributionCompositeView.heatmap #viewSwitcher
{
    background-image: url(images/3d.png);
}

.DistributionCompositeView.globe #viewSwitcher
{
    background-image: url(images/2d.png);
}