.MapView
{
    -webkit-transition: -webkit-transform 1s ease-out;
    background: #1c1c1c;
}

.Lmap
{
    width: 100%;
    height: 100%;
}

.Lmap .leaflet-top
{
    opacity: 0.4;
}

.Lmap .leaflet-control-attribution
{
    display: none;
}

.Lmap.leaflet-container, .Lmap .leaflet-container
{
    background: transparent;
}


.MapView .viewSwitcher
{
	z-index: 9999999;
	position: absolute;
	left: 40px;
	bottom: 62px;
	display: block;
	width: 210px;
	height: 59px;
	line-height: 56px;
	font-size: 28px;
	white-space: nowrap;
}	

.MapView .viewSwitcher ul
{
	list-style: none;
	display: block;
	width: 205;
	height: 60;
	margin: 0;
	padding: 0;
}

.MapView .viewSwitcher li
{
	background-color: #ba3500;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	opacity: 0.4;
	font-size: 21px;
	font-family: BentonSans Book;
	width: 50%;
}

.MapView .viewSwitcher li:first-child
{
	border-radius: 8px 0 0 8px;
}

.MapView .viewSwitcher li:last-child
{
	border-radius: 0 8px 8px 0;
}



.MapView .viewSwitcher li.selected
{
	color: #f1f2f2;
	opacity: 0.8;
}