.MapView
{
    -webkit-transition: -webkit-transform 1s ease-out;
    background: #1c1c1c;
}

.Lmap
{
    width: 100%;
    height: 100%;
}

.Lmap .leaflet-top
{
    opacity: 0.4;
}

.Lmap .leaflet-control-attribution
{
    display: none;
}

.Lmap.leaflet-container, .Lmap .leaflet-container
{
    background: transparent;
}