.PieChartView
{
	z-index: 9999999;
}

.PieChartView span
{
	display: block;
}

.PieChartView span#title
{
	position: absolute;
	font-size: 63px;
	color: #efefef;
	left: 38px;
	top: 40px;
	font-family: BentonSans Regular;
}

.PieChartView div#yearMA
{
    position: absolute;
    left: 38px;
    top: 145px;
}

.PieChartView span#year
{
	font-size: 40px;
	color: #333333;
	display: inline-block;
	background-color: #d1d3d4;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-family: BentonSans Book;
}

.PieChartView span#ma
{
	display: inline-block;
	margin-left: 10px;
	font-size: 36px;
	color: #bcbec0;
	font-family: BentonSans Book;
}

.PieChartView span#taxacount
{
	position: absolute;
	font-size: 36px;
	color: #bcbec0;
	left: 39px;
	top: 213px;
	font-family: BentonSans Book;
	
}

.PieChartView span#area
{
	position: absolute;
	font-size: 36px;
	color: #bcbec0;
	left: 39px;
	top: 255px;
	font-family: BentonSans Book;
}

.PieChartView span#proportion
{
	position: absolute;
	font-size: 25px;
	color: #bcbec0;
	left: 39px;
	top: 367px;
	font-family: BentonSans Book;
}


.PieChartView svg
{
	position: absolute;
	left: 40px;
	top: 405px;
	opacity: 0.45;
	width: 190px;
	height: 200px;
}

.PieChartView g.arc
{
}
















.PieChartView ul
{
	position: absolute;
	list-style: none;
	left: 45px;
	top: 610px;
	margin: 0;
	padding: 0;
}

.PieChartView li
{	
	line-height: 23px; 
	height: 23px;
}

.PieChartView li span.bullet
{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.PieChartView li span.label
{
    color: #bcbec0;
    display: inline-block;
    height: 12px;
    font-family: BentonSans Light;
    font-size: 16px;
}

.PieChartView .label_group
{
    stroke: #999;
    font-family: sans-serif;
	font-size: 12px;
}