.PieChartView
{
	z-index: 9999999;
	background-color: #333333;
	opacity: 0.8;
	-webkit-mask-image:-webkit-gradient(linear, 0100%, 090%, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
}

.PieChartView span
{
	display: block;
}

.PieChartView span#title
{
	font-size: 20px;
	font-weight: bold;
}

.PieChartView span#mayear
{
	font-size: 20px;
	color: brown;
}

.PieChartView span#southchina
{
	font-size: 15px;
}

.PieChartView span#taxacount
{
	font-size: 15px;
	font-weight: bold;
}

.PieChartView span#area
{
	font-size: 15px;
	font-weight: bold;
}


.PieChartView .arc
{
	opacity: 0.9;
}


.PieChartView .label_group
{
  stroke: #999;
    font-family: sans-serif;
	font-size: 12px;
}


.PieChartView .cls
{
	text-decoration:underline;
}

.PieChartView .percent
{
}