.PlayControlView
{
    position: relative;
    height: 64px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    z-index: 9999999;
}

.PlayControlView #playPause
{
    position: absolute;
    left: 14px;
    top: 14px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-repeat: no-repeat;
    -webkit-transition: 0.3s box-shadow;
}

.PlayControlView #playPause:hover
{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.PlayControlView #playPause:active
{
    box-shadow: 0 0 45px rgba(255, 255, 255, 0.8);
}

.PlayControlView.playing #playPause
{
    background-image: url(images/playing.png);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.PlayControlView.paused #playPause
{
    background-image: url(images/paused.png);
}





.PlayControlView #progressBar
{
    position: absolute;
    top: 25px;
    left: 65px;
    right: 14px;
    height: 14px;
    border: 1px solid white;
    border-radius: 5px;
}

.PlayControlView #progressBar #cursor
{
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    width: 15px;
    background: rgba(255, 255, 255, 0.5);
    border-right: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}






.PlayControlView #label
{
    position: absolute;
    top: -68px;
    right: 8px;
    font-size: 58px;
}

.PlayControlView .range
{
    color: white;
    position: absolute;
    top: 42px;
}

.PlayControlView #start
{
    left: 65px;
}

.PlayControlView #end
{
    text-align: right;
    right: 14px;
}

.PlayControlView #center
{
    text-align: center;
    left: 65px;
    right: 14px;
}