.PlayControlView
{
    position: relative;
    height: 64px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    z-index: 9999999;
}

.PlayControlView .button
{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 14px;
    top: 17px;
    border-radius: 50%;
    background-repeat: no-repeat;
    -webkit-transition: 0.3s box-shadow;
}
.PlayControlView .button:hover
{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}
.PlayControlView .button:active
{
    box-shadow: 0 0 45px rgba(255, 255, 255, 0.8);
}



.PlayControlView #back
{
    left: 5px;
    background-image: url(images/back.png);
}

.PlayControlView #playPause
{
    position: absolute;
    left: 42px;
    top: 12px;
    width: 40px;
    height: 40px;
}

.PlayControlView #forward
{
    left: 89px;
    background-image: url(images/forward.png);
}



.PlayControlView.playing #playPause
{
    background-image: url(images/playing.png);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.PlayControlView.paused #playPause
{
    background-image: url(images/paused.png);
}





.PlayControlView #progressBar
{
    position: absolute;
    top: 25px;
    left: 128px;
    right: 14px;
    height: 14px;
    border: 1px solid white;
    border-radius: 5px;
}

.PlayControlView #progressBar #cursor
{
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    width: 15px;
    background: rgba(255, 255, 255, 0.5);
    border-right: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}






.PlayControlView #label
{
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: -58px;
    right: 8px;
    font-size: 40px;
}

.PlayControlView .range
{
    color: white;
    position: absolute;
    top: 42px;
}

.PlayControlView #start
{
    left: 128px;
}

.PlayControlView #end
{
    text-align: right;
    right: 14px;
}