.SearchBoxView 
{
    z-index: 999999999;
    top: 205px;
    height: 30px;
    color: rgba(128,130,133,1);
}

.SearchBoxView #head
{
    position: absolute;
    width: 90px;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(90, 30, 10, 1);
    font-size: 18px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    line-height: 29px;
}

.SearchBoxView #body
{
    position: absolute;
    left: 89.5px;
    right: 35px;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255, 0.1);
}

.SearchBoxView #tail
{
    position: absolute;
    width: 35px;
    right: 0;
    top: 0;
    bottom: 0;
}

.SearchBoxView input
{
    position: absolute;
	height: 30px;
    left: 95px;
    right: 20px;
    border: none;
    color: white;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 350px;
}