.TaxonSeqView.three-d .taxon > div
{
    position: absolute;
    overflow: hidden;
}

.TaxonSeqView.three-d .taxon > div
{
    width: 280px;
    height: 280px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.TaxonSeqView.three-d .taxon > div > #name
{
    display: block;
    line-height: 280px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.TaxonSeqView.three-d .taxon > div > #fullName
{
    display: none;
}

.TaxonSeqView.three-d > .taxon
{
    display: none;
}

.TaxonSeqView #lineCanvas
{
	position: absolute;
	top: 0;
	left: 0;
}

.TaxonSeqView .groupLabel
{
	position: absolute;
	left: 40px;	
	display:none;
	font-size: 32px;
	width: 2930px;
	height: 40px;
	border-bottom:1px solid #636363;
	opacity:0.5;
}

.TaxonSeqView .className
{
	cursor: pointer;
	font-size: 32px;
	position: relative;
	left: 120px;
}

.TaxonSeqView .groupLabel #className
{
	font-size: 32px;
	position: relative;
	left: 120px;
}


.TaxonSeqView .groupLabel #genusName
{
	font-size: 26px;
	position: relative;
	left: 120px;
	top: 2px;
}

.TaxonSeqView .classExpand
{
	position: absolute;
	left: 70px;
	width: 38px;
	height: 38px;
	background-image: url(images/genusm.png);
	
}

.TaxonSeqView .genusExpand
{
	position: absolute;
	left: 70px;
	width: 38px;
	height: 38px;
	background-image: url(images/classm.png);
}

.TaxonSeqView .labelFixed
{
	position: fixed !important;
	top: 233px !important;
	
}