.TaxonDetailScene
{
    background: black;
}



#dimension
{
    cursor: pointer;
    opacity: 1;
    position: absolute;
    z-index: 999999;
    right: 15px;
    top: 15px;
    width: 80px;
    height: 45px;
    background: rgba(255, 255, 255, 0.1) url(images/3d.png) no-repeat center center;
    border-radius: 5px;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: right top;
    -webkit-transition: all 0.25s ease-in-out;
}

#dimension:hover
{
    background: rgba(255, 255, 255, 0.18) url(images/3d.png) no-repeat center center;
}