.TaxonSeqView
{

}

.TaxonSeqView.two-d > .scene
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
    padding-top: 75px;
}

.TaxonSeqView.two-d > .camera
{
    
}

.TaxonSeqView.two-d .taxon
{
    display: block;
    width: 100%;
    height: 18px;
    cursor: pointer;
}

.TaxonSeqView.two-d .taxon > div
{
    position: relative;
    display: block;
    height: 100%;
}

.TaxonSeqView.two-d .taxon > div > span
{
    position: absolute;
    color: rgb(180, 20, 20);
    font-size: 12px;
    top: 2px;
    left: 5px;
    right: 5px;
    text-align: center;
}









.TaxonSeqView.two-d .taxon:hover
{
    background: rgba(255, 200, 200, 0.1);
    height: 54px;
}

.TaxonSeqView.two-d .taxon:hover > div
{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.TaxonSeqView.two-d .taxon:hover > div > span
{
    color: rgb(255, 20, 20);
    font-size: 36px;
    display: inline-block;
}




.TaxonSeqView.two-d .taxon:hover+.taxon
{
    height: 30px;
}

.TaxonSeqView.two-d .taxon:hover+.taxon > div
{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.TaxonSeqView.two-d .taxon:hover+.taxon > div > span
{
    font-size: 20px;
    display: inline-block;
}


