.TaxonInfoView
{
    z-index: 99999999;
    min-width: 300px;
    padding: 14px;
    background: rgba(255, 255, 255, 0.1);
}

.TaxonInfoView *
{
    white-space: nowrap;
}

.TaxonInfoView #name
{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: white;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
}

.TaxonInfoView #shortName
{
    position: absolute;
    color: silver;
    top: 7px;
    right: 10px;
}

.TaxonInfoView #detailList
{
    padding-top: 8px;
}

.TaxonInfoView dl
{
    font-size: 16px;
    display: block;
    list-style: none;
    margin-top: 2px;
    margin-bottom: 0;
}

.TaxonInfoView dt
{
    display: inline-block;
    width: 80px;
    text-align: right;
}

.TaxonInfoView dd
{
    margin-left: 15px;
    display: inline-block;
}