.TaxonSeqView
{
    position: relative;
    overflow: hidden;
}

.TaxonSeqView.two-d > .scene
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 75px;
}

.TaxonSeqView.two-d > .camera
{
    
}

.TaxonSeqView.two-d .taxon
{
    display: block;
    width: 100%;
    height: 18px;
    margin-bottom: 1px;
    cursor: pointer;
}

.TaxonSeqView.two-d .taxon > div
{
    position: relative;
    display: block;
    height: 100%;
}

.TaxonSeqView.two-d .taxon > div > #name
{
    position: absolute;
    color: rgb(180, 20, 20);
    font-size: 12px;
    bottom: 2px;
    left: 5px;
    right: 5px;
    text-align: center;
}

.TaxonSeqView.two-d .taxon > div > #fullName
{
    position: absolute;
    color: rgb(255, 20, 20);
    font-size: 36px;
    display: none;
    bottom: -8px;
    left: 5px;
    right: 5px;
    white-space: nowrap;
    text-align: center;
}


.TaxonSeqView.two-d #topShadow
{
    z-index: 99999;
    position: absolute;
    top: 0;
    width: 100%;
    height: 4%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(0,0,0,1)), color-stop(80%,rgba(0,0,0,0)));
}

.TaxonSeqView.two-d #bottomShadow
{
    z-index: 99999;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,1)));
}

.TaxonSeqView.two-d #placeHolder
{
    height: 100px;
}



.TaxonSeqView.two-d .taxon:hover
{
    background: rgba(255, 200, 200, 0.1);
}

.TaxonSeqView.two-d .taxon:hover > div
{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.TaxonSeqView.two-d .taxon:hover > div > #name
{
    display: none;
}

.TaxonSeqView.two-d .taxon:hover > div > #fullName
{
    display: inline-block;
}